html,
body {
  font-family: sans-serif;
}

.container {
  background-color: #2b2d2f;
  position: relative;
}

.element {
  box-sizing: border-box;
  display: inline-block;
  width: 100px;
  height: 280px;
  font-size: 36px;
}

#yellow-box {
  background-color: #ffff00;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
}

#pink-box {
  background-color: #ff69b4;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50px;
  z-index: 4;
}

#blue-box {
  background-color: #00eeee;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100px;
  z-index: 3;
}

#red-box {
  background-color: #ff0000;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 150px;
  z-index: 2;
}

#orange-box {
  background-color: #ffa500;
  position: fixed;
  bottom: 0;
  left: 108px;
  right: 0;
  top: 516px;
  z-index: relative;
}
