/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
